# Supabase Database Configuration
SUPABASE_URL=https://zgfmnnnjylatqvjaloaj.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=sb_secret_5_9Em
9dxPmd_lkdixN64Rg_OUYjHTcC

# Server Port
PORT=5001

# Cron Shared Secret Header for POST /api/scrape/run
CRON_SECRET=your-secure-cron-secret-token

# Target Mock Store Base URL
TARGET_STORE_URL=https://demo.inelabteamdev.com

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
